{% extends 'base.html' %}

{% block content %}
    {% if  %}
        <ul>
            {% for task in tasks %}
                <li>
                    <p>{{ task.title }}</p>
                    <p>{{ task.description }}</p>
                    <p>{{ task.pub_date }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No any questions available</p>
    {% endif %}
{% endblock content %}